<% layout("./layouts/boilerplate") %>

<body>
  <%- include("./home/hero.ejs") %>
  <%- include("./home/features.ejs") %>
  <%- include("./home/problem.ejs", allProblems) %>
  <%- include("./home/solution.ejs") %>
  <%- include("./home/cta.ejs") %>  
</body>
