<% layout("./layouts/boilerplate") %>

<!-- HOME PAGE -->
<body>
  <%- include("./home/hero.ejs") %>
  <%- include("./home/features.ejs") %>
  <%- include("./home/problem.ejs", allProblems) %>
  <%- include("./home/solution.ejs", allSolutions) %>
  <%- include("./home/cta.ejs") %>  
</body>
