<!-- Solutions Section -->
<section class="solutions">
  <div class="section-header">
    <h2>Explore Solutions</h2>
    <a href="/solutions" class="view-all"
      >View all <i class="fas fa-arrow-right"></i
    ></a>
  </div>

  <div class="cards-container">
    <a href="/solutions/<%= allSolutions[0]._id %>"
      ><div class="solution-card">
        <img
          src="<%= allSolutions[0].image %>"
          alt="<%= allSolutions[0].solution_title %>"
        />
        <h3><%= allSolutions[0].solution_title %></h3><br>
        <p class="card-meta"><%= allSolutions[0].category %></p>
      </div></a
    >

    <a href="/solutions/<%= allSolutions[1]._id %>">
      <div class="solution-card">
      <img
        src="<%= allSolutions[1].image %>"
        alt="<%= allSolutions[1].solution_title %>"
      />
      <h3><%= allSolutions[1].solution_title %></h3>
      <p class="card-meta"><%= allSolutions[1].category %></p>
    </div></a>

    <a href="/solutions/<%= allSolutions[2]._id %>">
      <div class="solution-card">
      <img
        src="<%= allSolutions[2].image %>"
        alt="<%= allSolutions[2].solution_title %>"
      />
      <h3><%= allSolutions[2].solution_title %></h3><br>
      <p class="card-meta"><%= allSolutions[2].category %></p>
    </div>
  </div></a>
</section>
